/*
	This is a part of mkgallery.pl suite
	http://www.average.org/mkgallery/
*/

img {
 clear:both;
 border-style: inset;
 border-color: gray;
 border-width: 2px;
 margin: 0.2ex;
}

table.slide {
 float: left;
 width: 210px;
 height: 210px;
 margin: 0.2ex;
 border-style: outset;
 border-color: #e0c080;
 border-width: 2px;
 background-color: #e0c080;
 text-align: center;
 font-size: 10px
}
table.slide tr {
 margin: 0px;
}
table.slide td {
 margin: 0px;
 vertical-align: middle;
}

div.ibox {
 background-color: #ffffc0;
 border: 1px solid black;
 margin: 0px;
 padding: 0px;
 font-size: 10px;
 display: none;
 z-index: 1000;
 position: absolute;
}
div.iboxtitle {
 background-color: blue;
 margin: 0px;
 padding: 0.5ex;
}
div.iboxtitle * {
 color: white;
}

table.ipage {
 background-color: #ffffc0;
 border: 1px solid black;
 border-collapse: collapse;
 text-align: left;
 margin: 0px;
 padding: 0px;
}
table.ipage td {
 border: 1px solid black;
 margin: 0px;
 padding: 1ex;
}

table.infotable {
 border-width: 0px;
}
table.infotable td {
 border-width: 0px;
 padding: 0.3ex;
}

table.navi {
 background-color: #c0c0c0;
 border: 1px solid black;
 border-collapse: collapse;
 text-align: center;
 margin: 0px;
 padding: 0px;
}
table.navi td {
 border: 1px solid black;
 margin: 0px;
 padding: 1ex;
}

table.picframe {
 border: 1px solid black;
 margin: 10px;
 padding: 10px;
}



.slideshowWindow {
 background-color: black;
}

.slideshowContainer {
 border: 1px solid #ccc;
 width: 99%;
 height: 95%;
 margin-bottom: 5px;
}

